{% extends './inc/layout.html' %}

<!-- Page Styles -->
{% block style %}

{% endblock %}

{% block content %}
<div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新菜谱
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">用户</a></li>
            <li class="active">菜谱</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">发布新菜谱</h3>
            </div>
            <div class="box-body">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/web/recipes" method="post">
                    <input id="uniqueId" value="{{uniqueId}}" type="hidden">
                    <div class="box-body">
                        <div class="alert alert-warning alert-dismissible">
                            <i class="icon fa fa-info"></i>小提示：菜谱发布并审核通过后，将被本站收录并展示。
                        </div>
                        <!-- 标题 -->
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="title">标题</label>
                                    <input type="text" class="form-control" id="title" name="title" maxlength="15"
                                           placeholder="请填写菜谱名称（15字以内）">
                                </div>
                            </div>
                        </div>
                        <!-- 自媒体 -->
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="newMedia">自媒体信息 （本站将为您免费展示自媒体信息）</label>
                                    <input type="text" class="form-control" id="newMedia" name="newMedia" maxlength="20"
                                           placeholder="请填写自媒体信息。例如：公众号：遇见小咪">
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning alert-dismissible">
                            <i class="icon fa fa-info"></i>小提示：不需要每个都选择，但是请尽量详细，增加搜索精确度。国家为必选项。
                        </div>
                        <!-- 区域 -->
                        <div class="row">
                            <div class="col-md-12"><label class="control-label">区域文化</label></div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoCountry" name="cookInfoCountry">
                                        <option value="" disabled selected>国家</option>
                                        {% for item in countryOptions %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoChinaLocalCuisine"
                                            name="cookInfoChinaLocalCuisine">
                                        <option value="" disabled selected>中国菜系</option>
                                        {% for item in chinaLocalCuisineOptions %}
                                        <option value="{{item}}">{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoChinaLocalSnake"
                                            name="cookInfoChinaLocalSnake">
                                        <option value="" disabled selected>中国各地小吃</option>
                                        {% for item in chinaLocalSnakeOptions %}
                                        <option value="{{item}}">{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoForeignFoodOrder"
                                            name="cookInfoForeignFoodOrder">
                                        <option value="" disabled selected>上菜顺序</option>
                                        {% for item in foreignFoodOrderOptions %}
                                        <option value="{{item}}">{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <!-- 类型 -->
                            <div class="col-md-12"><label class="control-label">类型</label></div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoServeType" name="cookInfoServeType">
                                        <option value="" disabled selected>美食类别</option>
                                        {% for item in serveTypeOptions %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group form-horizontal">
                                        <label for="cookInfoFoodTime"
                                               class="col-sm-4 control-label"><span>美食时间</span></label>
                                        <div class="col-sm-8">
                                            <select class="js-example-basic-multiple form-control select2"
                                                    id="cookInfoFoodTime" name="cookInfoFoodTime"
                                                    multiple="multiple">
                                                {% for item in foodTimeOptions %}
                                                <option value="{{ item }}">{{ item }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoFoodSpecialEvent"
                                            name="cookInfoFoodSpecialEvent">
                                        <option value="" disabled selected>节日特色</option>
                                        <optgroup label="中华">
                                            {% for item in foodSpecialEventChinaOptions %}
                                            <option value="{{ item }}">{{ item }}</option>
                                            {% endfor %}
                                        </optgroup>
                                        <optgroup label="西方">
                                            {% for item in foodSpecialEventWesternCountryOptions %}
                                            <option value="{{ item }}">{{ item }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group form-horizontal">
                                        <label for="cookInfoFoodComfortPeople"
                                               class="col-sm-4 control-label"><span>适合人群</span></label>
                                        <div class="col-sm-8">
                                            <select class="js-example-basic-multiple form-control select2"
                                                    id="cookInfoFoodComfortPeople" name="cookInfoFoodComfortPeople"
                                                    multiple="multiple">
                                                <!--<option value="" disabled>适合人群</option>-->
                                                {% for item in foodComfortPeopleOptions %}
                                                <option value="{{ item }}">{{ item }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 属性 -->
                        <br/>
                        <div class="row">
                            <div class="col-md-12"><label class="control-label">属性</label></div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoCraftwork" name="cookInfoCraftwork">
                                        <option disabled selected>选择工艺</option>
                                        {% for item in craftworkOptions %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoFlavor" name="cookInfoFlavor">
                                        <option value="" selected disabled>选择口味</option>
                                        {% for item in flavorOptions %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoDifficulty" name="cookInfoDifficulty">
                                        <option value="" selected disabled>选择难度</option>
                                        {% for item in difficultyOptions %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-2">
                                    <div class="input-group input-group-sm">
                                        <input id="cookInfoPreparationTime" name="cookInfoPreparationTime" type="text"
                                               class="form-control" placeholder="准备时间">
                                        <span class="input-group-btn">
                                            <select id="cookInfoPreparationUnit" name="cookInfoPreparationUnit"
                                                    class="">
                                                <option value="" disabled selected>单位</option>
                                                <option value="分钟">分钟</option>
                                                <option value="小时">小时</option>
                                                <option value="天">天</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="input-group input-group-sm">
                                        <input id="cookInfoCookingTime" name="cookInfoCookingTime" type="text"
                                               class="form-control" placeholder="烹饪时间">
                                        <span class="input-group-btn">
                                            <select class="" id="cookInfoCookingUnit" name="cookInfoCookingUnit">
                                                <option value="" disabled selected>单位</option>
                                                <option value="分钟">分钟</option>
                                                <option value="小时">小时</option>
                                                <option value="天">天</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <select class="form-control" id="cookInfoServingsOfPeople"
                                            name="cookInfoServingsOfPeople">
                                        <option value="" selected disabled>选择人数</option>
                                        <option value="1">1人份</option>
                                        <option value="2">2人份</option>
                                        <option value="3">3人份</option>
                                        <option value="4">4人份</option>
                                        <option value="5">5人份</option>
                                        <option value="6">6人份</option>
                                        <option value="7">7人份</option>
                                        <option value="8">8人份</option>
                                        <option value="9">9人份</option>
                                        <option value="10">大于10人</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <!-- 成品图 -->
                        <div class="row">
                            <div class="col-xs-4">
                                <h4>成品图</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <img id="titleImage" src="https://dummyimage.com/360x420"
                                         style="height: 420px; width: 360px"/>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <textarea id="description" name="description" class="form-control" rows="15"
                                          placeholder="产品简介，说说这道菜的故事吧"></textarea>
                                <hr/>
                                <p class="help-block">点击添加成品图，请使用小于5MB的JPG、PNG、GIF格式图片</p>
                                <a href="javascript:;" class="file">选择文件
                                    <input type="file" id="titleImageUpload" name="titleImageUpload"
                                           data-url="/web/recipes/upload?uniqueId={{uniqueId}}">
                                    <input id="titleImagePath" type="hidden" name="titleImagePath" value=""/>
                                </a>
                            </div>
                        </div>
                        <hr/>
                        <div class="alert alert-warning alert-dismissible">
                            <i class="icon fa fa-info"></i> 小提示：<br/>
                            1. 输入食材后，下方会弹出相应食材可选择；如果没有弹出，可能是您输入的食材有误，或者没有当前食材（请联系小编）<br/>
                            2. “适量、少许”尽量少用或者不用，用量精确对您的粉丝更有帮助
                        </div>
                        <!-- 主料 -->
                        <div class="row">
                            <div class="col-md-12">主料 <a class="btn"><i class="fa fa-plus"></i> 增加一项</a></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6 form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="ingredientsMajorIngredient1"></label>
                                    <input type="text" class="form-control" id="ingredientsMajorIngredient1"
                                           name="ingredientsMajorIngredient1"
                                           placeholder="主料名称，例如：龙虾">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                    <label class="sr-only" for="ingredientsMajorConsumption1"></label>
                                    <input type="text" class="form-control" id="ingredientsMajorConsumption1"
                                           name="ingredientsMajorConsumption1"
                                           placeholder="填写用量，例如：500克">
                                </div>
                                <button id="ingredients_major_btn_1" type="button" class="btn btn-box-tool"><i
                                        class="fa fa-remove"></i></button>
                            </div>
                            <div class="col-md-6 form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="ingredientsMajorIngredient2"></label>
                                    <input type="text" class="form-control" id="ingredientsMajorIngredient2"
                                           name="ingredientsMajorIngredient2"
                                           placeholder="请填写主料名称">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                    <label class="sr-only" for="ingredientsMajorConsumption2"></label>
                                    <input type="text" class="form-control" id="ingredientsMajorConsumption2"
                                           name="ingredientsMajorConsumption2"
                                           placeholder="请填写用量">
                                </div>
                                <button id="ingredients_major_btn_2" type="button" class="btn btn-box-tool"><i
                                        class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <br/>
                        <!-- 辅料 -->
                        <div class="row">
                            <div class="col-md-12">辅料 <a class="btn"><i class="fa fa-plus"></i> 增加一项</a></div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-6 form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="ingredientsSubIngredient1"></label>
                                    <input type="text" class="form-control" id="ingredientsSubIngredient1"
                                           name="ingredientsSubIngredient1"
                                           placeholder="请填写主料名称">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                    <label class="sr-only" for="ingredientsSubConsumption1"></label>
                                    <input type="text" class="form-control" id="ingredientsSubConsumption1"
                                           name="ingredientsSubConsumption1"
                                           placeholder="请填写用量">
                                </div>
                                <button type="button" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                            </div>
                            <div class="col-md-6 form-inline">
                                <div class="form-group">
                                    <label class="sr-only" for="ingredientsSubIngredient2"></label>
                                    <input type="text" class="form-control" id="ingredientsSubIngredient2"
                                           name="ingredientsSubIngredient2"
                                           placeholder="请填写主料名称">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-balance-scale"></i></span>
                                    <label class="sr-only" for="ingredientsSubConsumption2"></label>
                                    <input type="text" class="form-control" id="ingredientsSubConsumption2"
                                           name="ingredientsSubConsumption2"
                                           placeholder="请填写用量">
                                </div>
                                <button type="button" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <hr/>
                        <!-- 步骤 -->
                        <div class="alert alert-warning alert-dismissible">
                            <i class="icon fa fa-info"></i> 步骤： 开始写步骤了！能否简单易学就看你怎么写了，加油！<br/>
                            1、步骤图宽度在400像素至550像素，如果拼接请横向拼接2至3张（当宽度大于550时会自动压缩，不用裁切）<br/>
                            2、每个步骤只用一段话描述，请勿在步骤中再细分“1.2.3.
                        </div>
                        <input id="stepsCount" name="stepsCount" type="hidden" value="0"/>
                        <div id="stepsEndRow" class="row">
                            <div class="col-md-12">步骤 <a id="stepsAdd" class="btn"><i class="fa fa-plus"></i> 增加一步</a>
                            </div>
                        </div>
                        <hr/>
                        <!-- 成品图 -->
                        <div class="alert alert-warning alert-dismissible">
                            <i class="icon fa fa-info"></i> 最终效果图：<br/>
                            <ol>
                                <li>请上传两张或以上，最多4张不同角度成品图，最好横图竖图、远景近景图都有</li>
                                <li>请使用小于5MB的JPG、PNG、GIF格式图片</li>
                            </ol>
                        </div>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <img id="completePicsImage1" src="https://dummyimage.com/350x300"
                                         style="width: 350px; height: 300px;">
                                    <p class="help-block">点击添加成品图，请使用小于5MB的JPG、PNG、GIF格式图片</p>
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" id="completePicsImageUpload1" name="completePicsImageUpload1"
                                               data-url="/web/recipes/upload?uniqueId={{uniqueId}}">
                                        <input id="completePicsImagePath1" type="hidden" name="completePicsImagePath1"/>
                                        <input id="completePicsSequence1" type="hidden" name="completePicsSequence1"
                                               value="1"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <img id="completePicsImage2" src="https://dummyimage.com/350x300"
                                         style="width: 350px; height: 300px;">
                                    <p class="help-block">点击添加成品图，请使用小于5MB的JPG、PNG、GIF格式图片</p>
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" id="completePicsImageUpload2" name="completePicsImageUpload2"
                                               data-url="/web/recipes/upload?uniqueId={{uniqueId}}">
                                        <input id="completePicsImagePath2" type="hidden" name="completePicsImagePath2"/>
                                        <input id="completePicsSequence2" type="hidden" name="completePicsSequence2"
                                               value="2"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-5">
                                <div class="form-group">
                                    <img id="completePicsImage3" src="https://dummyimage.com/350x300"
                                         style="width: 350px; height: 300px;">
                                    <p class="help-block">点击添加成品图，请使用小于5MB的JPG、PNG、GIF格式图片</p>
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" id="completePicsImageUpload3" name="completePicsImageUpload3"
                                               data-url="/web/recipes/upload?uniqueId={{uniqueId}}">
                                        <input id="completePicsImagePath3" type="hidden" name="completePicsImagePath3"/>
                                        <input id="completePicsSequence3" type="hidden" name="completePicsSequence3"
                                               value="3"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <img id="completePicsImage4" src="https://dummyimage.com/350x300"
                                         style="width: 350px; height: 300px;">
                                    <p class="help-block">点击添加成品图，请使用小于5MB的JPG、PNG、GIF格式图片</p>
                                    <a href="javascript:;" class="file">选择文件
                                        <input type="file" id="completePicsImageUpload4" name="completePicsImageUpload4"
                                               data-url="/web/recipes/upload?uniqueId={{uniqueId}}">
                                        <input id="completePicsImagePath4" type="hidden" name="completePicsImagePath4"/>
                                        <input id="completePicsSequence4" type="hidden" name="completePicsSequence4"
                                               value="4"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <!-- 小技巧 -->
                        <div class="form-group">
                            <label>烹饪小技巧</label>
                            <textarea id="exportTips" name="exportTips" class="form-control" rows="5"
                                      placeholder="分享一下心得和小技巧吧"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">保存草稿</button>
                        <button type="submit" class="btn btn-primary">提交审核</button>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.container -->

{% endblock %}

{% block script %}


<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/libs/jquery-ui/jquery-ui.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/libs/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/libs/blueimp-file-upload/js/jquery.fileupload.js"></script>

<script src="/libs/blueimp-load-image/js/load-image.all.min.js"></script>
<script type="text/javascript">
    function imageUpload(uploadElement, imageElement) {
        uploadElement.fileupload({
            dataType: 'json',
            done: function (e, data) {
                imageElement.attr("src", data.result.url);
                $(this).next(":hidden").val(data.result.url);
            }
        });
    }

    $(function () {
        // -- Begin of Upload
        imageUpload($("#titleImageUpload"), $("#titleImage"));
        imageUpload($("#completePicsImageUpload1"), $("#completePicsImage1"));
        imageUpload($("#completePicsImageUpload2"), $("#completePicsImage2"));

        // -- End of Upload
        $("#cookInfoCountry").on('change', function () {
            if (this.value !== '中国') {
                $("#cookInfoChinaLocalCuisine").val("").prop("disabled", "disabled");
                $("#cookInfoChinaLocalSnake").val("").prop("disabled", "disabled");
                $("#cookInfoForeignFoodOrder").prop("disabled", false);
            } else {
                $("#cookInfoChinaLocalCuisine").prop("disabled", false);
                $("#cookInfoChinaLocalSnake").prop("disabled", false);
                $("#cookInfoForeignFoodOrder").val("").prop("disabled", "disabled");
            }
        });
        $("#cookInfoChinaLocalCuisine").on('change', function () {
            if (this.value !== '小吃') {
                $("#cookInfoChinaLocalSnake").val("").prop("disabled", "disabled");
            } else {
                $("#cookInfoChinaLocalSnake").prop("disabled", false);
            }
        });

        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#ingredientsMajorIngredient1").autocomplete({
            source: availableTags
        });

        $("#stepsAdd").click(function () {
            var current = parseInt($("#stepsCount").val()) + 1;
            var title = "步骤" + current;
            var stepsImage = "stepsImage" + current;
            var stepsDescription = "stepsDescription" + current;
            var stepsImageUpload = "stepsImageUpload" + current;
            var stepsImagePath = "stepsImagePath" + current;
            var stepsSequence = "stepsSequence" + current;

            var element = `
                        <div class="row">
                            <div class="col-xs-1">
                                <h4>${title}</h4>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <img src="https://dummyimage.com/350x300" id="${stepsImage}"
                                         style="width: 350px; height: 300px;">
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <textarea id="${stepsDescription}" name="${stepsDescription}" class="form-control" rows="11"
                                          placeholder="请填写步骤描述"></textarea>
                                <p class="help-block">点击添加成品图，请使用小于5MB的JPG、PNG、GIF格式图片</p>
                                <a href="javascript:;" class="file">选择文件
                                    <input type="file" id="${stepsImageUpload}"
                                           name="${stepsImageUpload}"
                                           data-url="/web/recipes/upload?uniqueId={{uniqueId}}">
                                    <input id="${stepsImagePath}" type="hidden" name="${stepsImagePath}" value=""/>
                                    <input id="${stepsSequence}" name="${stepsSequence}" value="${current}" type="hidden"/>
                                </a>
                            </div>
                        </div>
            `;
            $("#stepsEndRow").before(element);
            // Add image upload function
            imageUpload($("#" + stepsImageUpload), $("#" + stepsImage));
            // Add current value to #stepsCount
            $("#stepsCount").val(current);
        });
        // Add steps
        for (var i = 0; i < 4; i++) {
            $("#stepsAdd").trigger("click");
        }
    });


</script>
{% endblock %}