body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    /*font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;*/
    font-family: "SF Pro Display",Roboto,Noto,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    /*font-style: normal;*/
    /*font-size: 14px;*/
    color: #333;

}

body, button, input, select, textarea {
    font-style: normal;
    font-size: 14px;

    line-height: 1.57142857;
}

.widget-user .widget-user-header {
    padding: 10px;
    height: 100px;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

#topcontrol {
    display: block;
    width: 50px;
    height: 50px;
    background: url(/static/assets/img/customize/top.jpg);
    margin-right: 14px;
    margin-bottom: 5px;
}

#topcontrol:hover {
    background: url(/static/assets/img/customize/top.jpg) 0px 50px;
}
