<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ pageHeader | default('舌尖赞')}}
    </h1>

    <ol class="breadcrumb">
        {% for key, item in breadcrumb %}
            {% if key === 0 %}
                <li><a href="#"><i class="fa fa-dashboard"></i> {{ item }}</a></li>
            {% elseif key === breadcrumb.length-1 %}
                <li class="active">{{ item }}</li>
            {% else %}
                <li>{{ item }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</section>